
@{
   ViewBag.Title = "Index";
}

<h2>A minha calculadora</h2>


@*   definir o formulário   *@
@using(Html.BeginForm()) {
   <div>

      <table>
         <tr>
            <td colspan="5">
               <input type="text" name="visor" value="@ViewBag.Ecra" readonly />
            </td>
         </tr>
         <tr>
            <td><input type="submit" value="7" name="bt" /></td>
            <td><input type="submit" value="8" name="bt" /></td>
            <td><input type="submit" value="9" name="bt" /></td>
            <td><input type="submit" value=":" name="bt" /></td>
            <td><input type="submit" value="+/-" name="bt" /></td>
         </tr>
         <tr>
            <td><input type="submit" value="4" name="bt" /></td>
            <td><input type="submit" value="5" name="bt" /></td>
            <td><input type="submit" value="6" name="bt" /></td>
            <td><input type="submit" value="x" name="bt" /></td>
            <td><input type="submit" value="C" name="bt" /></td>
         </tr>
         <tr>
            <td><input type="submit" value="1" name="bt" /></td>
            <td><input type="submit" value="2" name="bt" /></td>
            <td><input type="submit" value="3" name="bt" /></td>
            <td><input type="submit" value="-" name="bt" /></td>
            <td rowspan="2"><input type="submit" value="=" name="bt" /></td>
         </tr>
         <tr>
            <td colspan="2"><input type="submit" value="0" name="bt" /></td>
            <td><input type="submit" value="," name="bt" /></td>
            <td><input type="submit" value="+" name="bt" /></td>
         </tr>

      </table>


   </div>
}